

.button {
       -fx-color: aquamarine;
       -fx-border: 1px;


}
.button :hover {
       -fx-color: blue;
}
.label {
       -fx-font-size: 40px;
       -fx-font-weight: bold;
}
#podium {
       -fx-max-width: 250px;
       -fx-max-height: 250px;
}

#backgroundColor {
       -fx-background-color: aquamarine;

}